/* CSS for image container */
.image-container {
    width: 200px;
    height: 100px;
    background-image: url('SOA-PNG_2.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
  }
  
  /* Change background image on hover */
  .image-container:hover {
    background-image: url('SOA-PNG.png');
  }
  